{{ ansible_managed | comment }}

[Unit]
Description=Prometheus postgresql Exporter
Wants=network-online.target
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
SyslogIdentifier=postgresql_exporter
User={{ postgresql_exporter_user }}
Group={{ postgresql_exporter_group }}
Environment="{{ postgresql_exporter_env }}"
ExecStart={{ postgresql_exporter_install_dir }}/postgres_exporter --web.listen-address=":{{ postgresql_exporter_web_port }}" {% if postgresql_exporter_extended_queries | length > 0 %} --extend.query-path={{ postgresql_exporter_config_dir }}/extended_queries.yml{% endif %}

ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
StartLimitBurst=3
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
